@model List<Termini>

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="~/js/popper/popper.min.js"></script>
    <link href="~/css/fullcalendar/main.css" rel="stylesheet" />
    <script src="~/js/fullcalendar/main.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="~/css/termini/termini.css" rel="stylesheet" />
</head>


<div id="mainContainerTermini">
    <div style="float:left; width: 20%; background-color:#00A8A8">
        <div style="float:left; height:1000px;">
            <partial name="../Home/Index" />
        </div>
    </div>

    <div id="main_body" style="float:left; width: 80%; background-color:#C4DBE0; padding: 30px; height:100%">
        <div style="background-color: #0C6980; width:90%; height:70px; margin-left:auto; margin-right: auto;">
            <div id="TerminOdabir">

            </div>
        </div>
        <br />
        <div id="termini">
            <div>
                <partial name="TerminiPartial" />
            </div>
            <div id="header">
                @*<form style="float: left">
                        <label>Search:</label>
                        <input type="text" name="Ime i prezime" />
                    </form>
                    <form style="float: left">
                        <label>Datum:</label>
                        <input type="date" name="Datum" />
                    </form>
                    <form style="float: left">
                        <label>Sort by:</label>
                        <select>
                            <option>Vrijeme - uzlazno</option>
                            <option>Vrijeme - silazno</option>
                            <option>Ime - abecedno</option>
                            <option>Usluga - abecedno</option>
                        </select>
                    </form>*@
                <div id="calendar-stomatolog"></div>
            </div>
            <div id="podaci">
                @*<table class="table" style="background-color:#C4DBE0; width:90%; margin-left:auto; margin-right:auto">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Ime i prezime</th>
                                <th scope="col">Termin pocetak</th>
                                <th scope="col">Termin kraj</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in Model)
                            {
                                <tr id="red" onclick="odaberiTermin('@s.Id')" >
                                    <td>@s.Id</td>
                                    <td>@s.Pacijent.FirstName @s.Pacijent.LastName</td>
                                    <td>@s.TerminStart.Date</td>
                                    <td>@s.TerminEnd.Date</td>
                                </tr>
                            }

                        </tbody>
                    </table>*@
            </div>
        </div>

    </div>
</div>
<div id="selectedSesija">
    <a id="btnNazad" onclick="unSelectSesija()">X</a>
    <h4 style="color: #0C6980;">Termin</h4>
    <a id="btnZapocniSesiju" onclick="sendSesija()">Započni</a>

    <table style="width:100%" id="tableTermin">
        <tr>
            <th><b>Početak: </b></th>
            <td id="trmPocetak"></td>
        </tr>
        <tr>
            <th><b>Kraj: </b></th>
            <td id="trmKraj"></td>
        </tr>
        <tr>
            <th><b>Pacijent: </b></th>
            <td id="trmImePacijenta"></td>
        </tr>
        <tr>
            <th><b>Usluga: </b></th>
            <td id="trmUsluga"></td>
        </tr>
        <tr>
            <th><b>Osnovna Cijena: </b></th>
            <td id="trmBasePrice"></td>
        </tr>
    </table>




</div>

<script src="~/js/fullcalendar/kalendar-stomatolog.js"></script>
<script>
    //$(function () {
    //    $("#tabs").tabs();
    //});

    function unSelectSesija() {
        var selectedSesija = document.getElementById('selectedSesija');
        var mainContainer = document.getElementById('mainContainerTermini');
        selectedSesija.style.display = 'none';
        mainContainer.style.filter = 'blur(0px)';

    }

    function odaberiTermin(TerminId) {
        var url = "/Termini/OdaberiTermin?t=" + TerminId;
        $.get(url, function (d) {
            $("#TerminOdabir").html(d);
        })
    }
</script>
<style>
    #red:hover {
        background-color: #507881;
        color: white;
    }

    #red:active {
        background-color: #00A8A8;
    }

    #red {
        cursor: pointer;
    }
</style>