@using B.U.Z.ViewModels;
@model PacijentiUrediVM
    <link href="~/css/FormCss/manjeForme.css" rel="stylesheet" />
<div style="float:left; height:1000px; width:200px;">
    <partial name="../Home/Index" />
</div>
<h1>Pacijenti</h1>
<div>
    <partial name="PacijentiPartial" />
</div>
<div id="formaDiv">
    <div id="formWrapper">
        <form asp-action="SpasiNovogStarogPacijenta">
            <div id="divovi">
                <input type="hidden" asp-for="@Model.pacijent_id" />
            </div>
            <div id="divovi">
                <label>Redni broj</label>
                <input type="text" asp-for="@Model.RedniBroj" />
            </div>
            <div id="divovi">
                <label>Ime</label>
                <input type="text" asp-for="@Model.Ime" />
            </div>
            <div id="divovi">
                <label>Prezime</label>
                <input type="text" asp-for="@Model.Prezime" />
            </div>
            <div id="divovi">
                <label>Datum rodjenja</label>
                <input type="text" asp-for="@Model.DatumRodjenja" />
            </div>        
            <div id="divovi">
                <label>Broj telefona</label>
                <input type="text" asp-for="@Model.BrojTelefona" />
            </div>
            <div id="divovi">
                <input type="submit" name="Spasi" value="Snimi" id="Dugme" />
            </div>
        </form>
    </div>
</div>
<style>
/*    #formaDiv {
        color: white;
        background-color: #343a40;
        width: 80.6%;
        margin-left: 18.1%;
    }*/
</style>