@model List<DentalnaPomagala>

<div style="float:left; height:1000px; width:200px;">
    <partial name="../Home/Index" />
</div>

<h1>Dentalna pomagala</h1>

<div>
    <partial name="DentalnaPomagalaPartial" />
</div>

<div id="AjaxPrikazOdabranogDentalnogPomagala">

</div>

<div id="PretraziDiv">
    <form style="margin-left:1%">
        <label>Pretraži dentalna pomagala:</label>
        <input type="text" name="filter" />
        <input type="submit" value="Pretraži" />
    </form>
</div>

<table class="table table-dark" style="width:80.7%;">
        <thead>
            <tr>
                <th scope="col">Redni broj</th>
                <th scope="col">Šifra</th>
                <th scope="col">Naziv</th>
                <th scope="col">Opis</th>
                <th scope="col">Pacijent</th>
                @*<th scope="col">Odaberi</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                <tr id="dentalnoRow"onclick="OpenOdabranoDentalnoPomagalo(@s.Id)">
                    <td></td>
                    <td>@s.Id</td>
                    <td>@s.Naziv</td>
                    <td>@s.Opis</td>
                    <td>@s.Pacijent?.FirstName  @s.Pacijent?.LastName</td>
                    @*<td><button class="badge-danger"><a style="color:white; text-decoration:none" ; href="/Lijekovi/ObrisiLijek?LijekId=@s.Id">Obriši</a></button></td>
                    <td><button class="badge-danger"><a style="color:white; text-decoration:none" ; href="/Lijekovi/UrediLijek?LijekId=@s.Id">Uredi</a></button></td>*@
                    @*<td><button class="badge-danger" onclick="OpenOdabranoDentalnoPomagalo(@s.Id)">Select</button></td>*@
                </tr>
            }

        </tbody>
    </table>

<div id="BrojDostupnihDentalnihPomagala">
        <label style="margin-left:1%">Broj dostupnih dentalnih pomagala:</label>@Model.Count()
    </div>

<style>
    body {
        counter-reset: Serial; /* Set the Serial counter to 0 */
    }

    tr td:first-child:before {
        counter-increment: Serial; /* Increment the Serial counter */
        content: counter(Serial); /* Display the counter */
    }

    #PretraziDiv {
        color: white;
        background-color: #343a40;
        width: 80.6%;
        margin-left: 18.1%;
    }

    #BrojDostupnihDentalnihPomagala {
        color: white;
        background-color: #343a40;
        width: 80.6%;
        margin-left: 18.1%;
        margin-top: -2%;
    }

    #AjaxPrikazOdabranogDentalnogPomagala {
        color: white;
        background-color: #343a40;
        width: 80.6%;
        margin-left: 18.1%;
        border: 1px solid red;
    }
    #dentalnoRow:hover
    {
        background-color:aqua;
    }
</style>

<script>
        function OpenOdabranoDentalnoPomagalo(DentalnoPomagaloId) {
            var url = "/DentalnaPomagala/SelectDentalnoPomagalo?DentalnoPomagaloId=" + DentalnoPomagaloId;
            $.get(url, function (d) {
                $("#AjaxPrikazOdabranogDentalnogPomagala").html(d);
            });
        }
</script>
