@model List<Dijagnoze>
    <head>
        <link href="~/css/Universal.css" rel="stylesheet" />
        <link href="~/css/rounded-corners.css" rel="stylesheet" />
    </head>

<div id="mainContainer">

<div>
    <partial name="../Home/Index" />
</div>

<div  id="MainPageBody">
    <div id="pageContent">
        @*<h1 id="naslov">Dijagnoze</h1>*@

        <div id="partialNav">
            <partial name="DijagnozePartial" />
        </div>

        <div class="primarydark rcMainBody" id="ostatakBody-a">


            <div id="AjaxPrikazOdabraneDijagnoze">

            </div>

            <div id="PretraziDiv" class="primarydark">
                <form style="padding-left:10px;">
                    <label>Pretraži dijagnoze:</label>
                    <input type="text" name="filter" />
                    <input type="submit" value="Pretraži" />
                </form>
            </div>

            <table id="tabela"  class="table rcMainTable">
                <thead>
                    <tr>
                        <th scope="col">Redni broj</th>
                        <th scope="col">Šifra</th>
                        <th scope="col">Naziv</th>
                        <th scope="col">Opis</th>
                        @*<th scope="col">Odaberi</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var s in Model)
                    {
                        <tr id="lijekoviRed" class="tblHover" onclick="OpenOdabranuDijagnozu('@s.Id')">
                            <td></td>
                            <td>@s.Id</td>
                            <td>@s.Naziv</td>
                            <td>@s.Opis</td>
                            @*<td><button class="badge-danger"><a style="color:white; text-decoration:none" ; href="/Lijekovi/ObrisiLijek?LijekId=@s.Id">Obriši</a></button></td>*@
                            @*<td><button class="badge-danger"><a style="color:white; text-decoration:none" ; href="/Lijekovi/UrediLijek?LijekId=@s.Id">Uredi</a></button></td>*@
                            @*<td><button class="badge-danger">Select</button></td>*@
                        </tr>
                    }

                </tbody>
            </table>

            <div id="BrojDijagnoza" class="primarydark">
                <label style="margin-left:1%">Broj dijagnoza:</label>@Model.Count()
            </div>
        </div>
    </div>
</div>
    <style>
        body {
            counter-reset: Serial; /* Set the Serial counter to 0 */
        }

        tr td:first-child:before {
            counter-increment: Serial; /* Increment the Serial counter */
            content: counter(Serial); /* Display the counter */
        }

        #PretraziDiv {
            width: 100%;
        }

        #BrojDijagnoza {
            width: 100%;
        }

        #AjaxPrikazOdabraneDijagnoze {
            color: white;
        }

        /*#lijekoviRed:hover {
            background-color: #0C6980;
            color: white;
            cursor: pointer;
        }*/
    </style>


</div>
<script>
    function OpenOdabranuDijagnozu(DijagnozaId) {
        var url = "/Dijagnoze/SelectDijagnozu?DijagnozaId=" + DijagnozaId;
        $.get(url, function (d) {
            $("#AjaxPrikazOdabraneDijagnoze").html(d);
        });
    }
</script>