@using B.U.Z.ViewModels;
@model StomatologRegistracijaVM

<div style="float:left; height:1000px; width:200px;">
    <partial name="../Home/Index" />
</div>
<h1>Recepti</h1>
<div>
    <partial name="UserAccountsPartial" />
</div>
<div id="formaDiv">
    <form asp-action="SpasiNoviStomatolog">
        <div>
            <label>First name</label>
            <input type="text" name="FirstName" />
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
        </div>
        <div>
            <label>Last name</label>
            <input type="text" name="LastName" />
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
        </div>
        <div>
            <label>E-mail</label>
            <input type="text" name="Email" />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        <div>
            <label>Broj telefona</label>
            <input type="text" asp-for="BrojTelefona" />
        </div>
        <div>
            <label>Password</label>
            <input type="text" name="PasswordHash" />
            <span asp-validation-for="@Model.PasswordHash" class="text-danger"></span>
        </div>
        <div>
            <label>Spol</label>
            <select asp-for="SpolId" asp-items="Model.spolovi"></select>
        </div>
        <div>
            <label>Grad</label>
            <select asp-for="GradId" asp-items="Model.gradovi"></select>
        </div>
        <div>
            <label>Titula</label>
            <input type="text" name="Titula" />
            <span asp-validation-for="@Model.Titula" class="text-danger"></span>
        </div>
        <div>
            <label>Specijalizacija</label>
            <input type="text" name="Specijalizacija" />
            <span asp-validation-for="@Model.Specijalizacija" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" name="Spasi" value="Snimi" />
        </div>
    </form>
</div>
<style>
    #formaDiv {
        color: white;
        background-color: #343a40;
        width: 80.6%;
        margin-left: 18.1%;
    }
</style>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}